@import "tailwindcss";



.container {
    max-width: 1000px;
    margin: 0 auto; 
  }
  

  nav {
    transition: box-shadow 0.3s ease-in-out;
  }
  nav:not(:hover):has(+ *:not(:first-child)) {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }